<div class="row">
  <h1 class="text-center">Hello!</h1>
</div>

<div class="row">

  <div class="col-md-8">

    <div class="row"> 
      <div class="col-md-10">
        <h2><%= @article.title %></h2>
    </div>
      <div class="col-md-2">
        <%= link_to 'Back', articles_path, :class => 'btn btn-primary btn-xs' %>
      </div>
    </div>

    <div class="row"> 
      <div class="col-md-12">
        <p class="text-16"><%= @article.body %></p>

        <p class="text-12">Created at <%= @article.created_at %> by <%= @article.user.name %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Comments:</h2>

        <% if @article.comments.exists? %>
 
          <% @article.comments.each do |comment|%>
            
            <% if comment.valid? %>

              <blockquote>
                <div class="row"> 
                  <div class="col-md-10">
                    <p class="text-16"><%= comment.body %></p>
                  </div>
                  <% if current_user && comment.user_id == current_user.id %>
                    <div class="col-md-2">
                      <%= link_to 'Delete', article_comment_path(@article.id, comment.id), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-primary btn-xs' %>
                    </div>
                  <% end %>
                </div>
                <footer>by <%= comment.user.name%></footer>
              </blockquote>

            <% end %>
          <% end %>

        <% else %>
          <p class="text-16">
            This article has no comments. Maybe you want add first?
          </p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <%= render :partial => 'source/form_comment_new' %>	
      </div>
    </div>
  </div>

  <% if @logined %>
    <%= render :partial => 'source/logined_user' %>
  <% else %>
    <%= render :partial => 'source/unlogined_user' %>
  <% end %>
	
</div>
