<div class="row">
	<h1 class="text-center">Hello!</h1>
</div>

<div class="row">

	<div class="col-md-8">

		<div class="row"> 
			<div class="col-md-10">
				<h2><%= @article.title %></h2>
			</div>
			<div class="col-md-2">
				<%= link_to 'Back', articles_path, :class => 'btn btn-primary btn-xs' %>
			</div>
		</div>

		<div class="row"> 
			<div class="col-md-12">
				<p class="text-16"><%= @article.body %></p>

				<p class="text-12">Created at <%= @article.created_at %> by <%= @article.user.name %></p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Comments:</h2>

				<% if @article.comments.exists? %>

				<% else %>
					<p class="text-16">
						This article has no comments.
					</p>
				<% end %>
			</div>	
		</div>
		
	</div>

	<div class="col-md-3">
		<p>Users: <%= User.count %> registered</p>

		  <p><%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-xs' %></p>
		  <p><%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-primary btn-xs' %></p>
		  <p><%= link_to 'Show my articles', users_articles_path, :class => 'btn btn-primary btn-xs' %></p>
	</div>
	
</div>
